@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Genos:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arsenal, sans-serif;
}

body {
  background-color: gainsboro;
}

main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

#trybewarts-forms-logo {
  width: 250px;
  padding: 10px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 20px;
  width: 250px;
}

#evaluation-form > h1 {
  font-size: 1.5rem;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(50, 167, 145);
  padding: 10px;
}

.trybewarts-header-logo {
  width: 100px;
  margin-bottom: 10px;
}

#trybewarts-header-title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 900;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-header {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.input-eva-form {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

input:focus [ text ] [ email ] {
  outline: none;
  box-shadow: darkslategray 0 0 10px;
}

button {
  border: none;
  background-color: rgb(30, 102, 72);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  color: white;
}

button:hover {
  box-shadow: darkslategray 0 0 10px;
}

#input-radio-checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

fieldset {
  border: none;
  width: 250px;
  padding: 20px;
}

fieldset legend {
  text-align: center;
}

input [ radio ] {
  width: 10px;
}

#input-nome-sobrenome , #input-email-casa {
  display: flex;
  flex-direction: column;
}

#input-email-casa {
  margin-bottom: 10px;
}

#house {
  border: outset 1px rgb(171, 178, 185);
  width: 100%;
}

#radio-rate {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.radio-rate {
  padding: 2px;
  margin: 2.5px;
  align-self: center;
}

#box-text-area {
  display: flex;
  flex-direction: column;
}

/* ---------- início tela pequena ---------- */

@media screen and ( min-width : 540px ) {

  .input-header , button {
    width: 350px;
  }

}

/* ---------- fim tela pequena ---------- */

/* ---------- início tela média ---------- */

@media screen and ( min-width : 1024px ) {

  .input-header , button {
    width: 250px;
    padding: 5px;
  }

  button {
    font-size: 1rem;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  .trybewarts-login {
    width: auto;
  }

}

/* ---------- fim tela média ---------- */

/* ---------- início tela grande ---------- */

@media screen and ( min-width : 1280px ) {

  main {
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
  }

  .input-header {
    width: 200px;
    padding: 10px;
  }

  button {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
  }

  #evaluation-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 675px;
    padding: 20px;
  }

  #trybewarts-forms-logo {
    height: 500px;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .trybewarts-login {
    width: auto;
    flex-direction: row;
  }

  .trybewarts-header-logo {
    width: 65px;
  }

  #input-nome-sobrenome , #input-email-casa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #input-email-casa {
    margin-bottom: 10px;
  }

  .input-eva-form {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 300px;
  }

  #house {
    border: outset 1px rgb(171, 178, 185);
    width: 230px;
  }

  #input-radio-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  #checkbox-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .op-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  #radio-rate {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
  }

  .radio-rate {
    align-self: center;
  }

}

/* ---------- fim tela grande ---------- */
